body {
    background-color: rgb(151, 188, 223);
    display: flex;
    justify-content: center;
}


.main_content {
    display: flex;
    flex-direction: column;
    width: min(70%, 600px);
    gap: 25px;
}

.weather_tables {
    display: flex;
    flex-direction: column;
    gap: 25px;
}



.weather_day, .location, .search_bar, .current_info, .user_defaults {
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    text-align: center;
}

.header_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.location {
    font-size: larger;
    text-align: center;
    font-weight: bolder;
    border: 1px solid blue
}

.day_header {
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
}

.search {
    display: inline-block;
}

.failed_search {
    display: inline-block;
    color: red;
}

table.weather_table {
    border-collapse: collapse; /* Ensures borders collapse */
    width: 100%;
}

table.weather_table th,
table.weather_table td {
    border: 1px solid red; /* Borders for table cells */
    text-align: center;
}

.weather_table th:nth-child(3),
.weather_table td:nth-child(3) {
    width: 190px; /* Fixed width for the first column */
}

.hidden {
    display:none;
}